
@{
    ViewBag.Title = "Vending Machine";
}

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>


<style>
    .box {
        border: 1px solid #2f74b1;
        box-sizing: border-box;
        width: 100%;
    }

    .padding{
        padding-top: 10%;
    }
</style>


<div class="jumbotron text-center">
    <h1>Vending Machine Kata</h1>
    <p class="lead">Feel free to play around with the vending machine.</p>
</div>




<div class="row">
    <div class="col-md-4 col-md-offset-2">
        @Html.Action("GetProducts")
    </div>
    <div class="col-md-3">
        <div class="row box">
            @Html.Action("GetConsole")
        </div>
        <div class="row padding col-md-offset-3">
            @Html.Action("GetCoins")
        </div>
        <div class="row padding">
            @Html.Action("GetCollection")
        </div>
    </div>

</div>

<div class="row text-center padding">
    <button onclick="refillVendingMachine();" value="Collect" class="btn btn-primary" >Refill Vending Machine</button>
</div>

<!-- Our script file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Scripts/vending.js"></script>